@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .label span {
    margin-bottom: 5px;
    font-weight: bold;
  }
  